<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_URI} !=/server-status
   RewriteRule    ^$ app/webroot/    [L]

   RewriteCond %{REQUEST_URI} !=/server-status
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
